*.out
*.test
*.xml
*.swp
.idea/
.vscode/
.gobincache/
*.code-workspace
*.iml
*.cov
*.html
.tmp/
/vendor
temporal-client
bins
test.log
/dummy
.build
.bins
.DS_Store
.gobincache
.fossa.yml
/sdkcore/internal/ffi/sdk-core/target
/sdkcore/internal/ffi/sdk-core-bridge/target
libtemporal_sdk_core_bridge.a
